<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>heh</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>new thread</title>
    <link rel="stylesheet" href="/forms.css">

</head>
<body>

<nav>
    <ul>
        <li> <a  th:href="@{/main}" > main </a></li>
        <li><a th:href="@{/login}"> login </a></li>
        <li><a th:href="@{/register}"> register </a></li>


    </ul>

</nav>


<div id="content">
    <form method="post" id="threadForm">
        <input type="text" th:field="*{thread.name}" placeholder="name">
        <input type="text" th:field="*{thread.description}" placeholder="description">
        <input type="submit">
    </form>
</div>
</body>
</html>
</body>
</html>